.header
    display: flex
    height: 100px
    position: relative

.column
    margin-top: 10px
    height: 30px

/* Should be removed. Only for demonstration

.left
    text-align: left
    margin-left: 3px
    width: 25%

.right
    text-align: right
    position: absolute
    margin-right: 3px
    right: 0px
    float: right

.middle
    text-align: center
    width: 50%

button
    width: 100px
    height: 40px
    left: 30px

.cart-info
    background: aquamarine
    text-align: center
    padding: 10px

.inline-display
    display: inline