.product
    > .cart > .left
        text-align: center
        width: 40px

        &.discount-tag
            background: #de2256
            padding: 1px 5px
            font-size: 14px
            color: #fff
            border-radius: 3px
            display: inline

.discount-tag
    position: relative
    background-color: #00cc00
    width: 15%
    padding: 1px
    height: 20px